:root {
  --cor-primaria: #e21;
  --cor-primaria-escura: #900;
  --fundo-1: #f7f7f7;
  --fundo-2: #ffffff;
  --texto: #000000;
  --subtitulo: rgba(0, 0, 0, 0.2);
  --onda: url("./images/onda-clara.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --fundo-1: #111111;
    --fundo-2: #000000;
    --texto: #ffffff;
    --subtitulo: rgba(255, 255, 255, 0.2);
    --onda: url("./img/onda-escura.svg");
  }
}

body {
  margin: 0px;
  font-family: arial;
  background: var(--fundo-1);
  color: var(--texto);
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

/*  Início Navegação  */

.logo {
  color: var(--texto);
  font-size: 2.4rem;
  text-align: center;
  margin-top: 55px;
}

.navegacao {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  justify-content: center;
  margin: 3.6rem;
}

.navegacao a {
  color: var(--texto);
  text-decoration: none;
  background: var(--fundo-2);
  padding: 15px 30px;
  border-radius: 4px;
  display: inline-block;
  border: 3px solid transparent;
}

.navegacao a:hover {
  border-color: var(--cor-primaria);
}

/*  Fim Navegação  */

/*  Início Conteúdo  */

main {
  display: grid;
  justify-content: center;
}

.conteudo {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introducao {
  background: var(--fundo-2);
  text-align: right;
  padding: 40px;
  align-content: center;
  line-height: 25px;
  position: relative;
}

.introducao p {
  padding: 20px 0px;
}

.introducao h1 {
  font-size: 2rem;
  padding-bottom: 10px;
  line-height: 30px;
}

.introducao h1::before /*  Pseudo-elemento css  */ {
  content: "";
  position: absolute;
  width: 65px;
  height: 4px;
  background: var(--cor-primaria);
  top: 30px;
  right: -32px;
}

.introducao a {
  color: white;
  background: var(--cor-primaria);
  padding: 15px 30px;
  border-radius: 4px;
  display: inline-block;
}

.introducao a:hover {
  background: var(--cor-primaria-escura);
}

.bicicleta {
  max-width: 100%;
}

.subtitulo {
  font-size: 3.9rem;
  text-align: right;
  padding: 40px;
  align-self: center;
  color: var(--subtitulo);
  background-image: var(--onda);
  /* word-break: break-all; */
}

.vantagens {
  background: var(--fundo-2);
  padding: 40px;
}

.vantagens_itens {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 18px;
  gap: 8px 20px;
  border-left: 4px solid transparent;
}

.vantagens_itens p {
  grid-column: 2;
}

.vantagens_itens:hover {
  border-color: var(--cor-primaria);
}

.vantagens_itens:nth-child(odd)  /* odd = ímpar */ {
  background-color: var(--fundo-1);
}

/*  Fim Conteúdo  */

footer {
  text-align: center;
  background: var(--fundo-2);
  padding: 40px;
  margin-top: 55px;
}

/* Início Responsivo */

.introducao_cover img {
  height: 100%;
  object-fit: cover; /* Para não distorcer a imagem, conforme a mesma é diminuída */
}

@media (max-width: 950px) {
  .media_vantagens {
    grid-template-columns: 1fr;
  }

  .subtitulo {
    font-size: 3rem;
    text-align: center;
  }
}

@media (max-width: 680px) {
  .logo {
    margin-top: 20px;
  }
  .navegacao {
    margin: 2.5rem;
  }
  .conteudo {
    grid-template-columns: 1fr;
  }

  .introducao {
    text-align: left;
  }

  .introducao h1::before {
    display: none;
  }

  .subtitulo {
    font-size: 2.5rem;
  }
}

/* Fim Responsivo */
